h3 {
  font-size: 4rem;
}
p {
  display: flex;
}
.second {
  background-color: #ffeadb;
  color: #637373;
}

hr {
  width: 100%;
  border: 1.5px solid salmon;
  float: center;
  margin-left: 0;
}
#About {
  display: block;
}
.birthd {
  color: dimgrey;
}
.paragraph {
  text-align: justify;
  justify-content: center;
  padding: 5px;
}
.text-responsive-subt {
  font-size: calc(2% + 1vw + 1vh);
}
.text-responsive-subt-uni {
  font-size: calc(11% + 1vw + 1vh);
  font-weight: bold;
}
.text-responsive-subt-uni-majer {
  font-size: calc(8% + 1vw + 1vh);
  padding-bottom: 8px;
}
.text-responsive {
  font-size: calc(90% + 1vw + 1vh);
}
.text-responsive-subt {
  font-size: calc(20% + 1vw + 1vh);
}
